<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="medium">
        <ion-title>SkeletonAPP!</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="goToLogin()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header class="ion-no-border">
        <ion-toolbar class=" ion-text-center">
            <ion-title size="large">Bienvenido!</ion-title>
        </ion-toolbar>
        Usuario logueado: {{ username }}
    </ion-header>

    <ion-list>
        <ion-item>
            <ion-input label="Nombre" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Apellido" [(ngModel)]="lastname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-select label="Nivel Educacional" [(ngModel)]="edLevel" placeholder="Elige una opción">
                <ion-select-option *ngFor="let level of edLevels | keyvalue"
                value="level.key"> {{level.value}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-input label="Fec. Nac." [(ngModel)]="birthday" readonly>
            </ion-input>
            <ion-button fill="clear" id="open-datetime">
                <ion-icon name="calendar"></ion-icon>
            </ion-button>
            <ion-popover trigger="open-datetime" triggerAction="click">
                <ng-template>
                    <ion-datetime [(ngModel)]="birthday" locale="es-ES"
                                  [showDefaultButtons]="true" presentation="date">
                    </ion-datetime>
                </ng-template>
            </ion-popover>
        </ion-item>
    </ion-list>
    <ion-button (click)="clean()">Limpiar</ion-button>
    <ion-button (click)="showInfo()">Mostrar (Controller)</ion-button>
    <ion-button id="btn_alert" >Mostrar (Componente)</ion-button>
    <ion-alert trigger="btn_alert"
        header="Usuario"
        subHeader="[Component]"
        message="Datos del usuario: {{name}} {{lastname}}"
        [buttons]="alertButtons"
    ></ion-alert>
</ion-content>
<ion-footer>
    <ion-toolbar color="medium">
        <ion-title size="large">APP desarrollada por cmartinezs</ion-title>
    </ion-toolbar>
</ion-footer>