<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>{{mainTitle}}</h1>
      <h6>{{subTitle}}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center ion-no-border">
    <ion-toolbar>
      <ion-title size="large">{{welcomeMessage}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="username" label="Username" 
      labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" 
      label="Password" 
      labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      {{loginMessage}}
    </ion-item>
  </ion-list>
  <ion-button (click)="validateLogin()"
  expand="block" fill="outline">
    Ingresar
  </ion-button>
  <ion-button [routerLink]="['/index']">
    Ir a Index
  </ion-button>
</ion-content>
