<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-title class="ion-text-center">Bienvenido</ion-title>
    </ion-item>
    <ion-item lines="none">
      Usuario: {{username}}
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Nombre"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Apellido"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-select label="N. Ed.">
        <ion-select-option>Ed. PreEscolar</ion-select-option>
        <ion-select-option>Ed. Basica</ion-select-option>
        <ion-select-option>Ed. Media</ion-select-option>
        <ion-select-option>Ed. Superior</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>APP Dessarollada por CMartinezS</ion-title>
  </ion-toolbar>
</ion-footer>
