<ion-header [translucent]="true" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>
      <h1>SkeletonAPP</h1>
      <h6>Aqui comienza todo</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border ion-text-center">
    <ion-toolbar>
      <ion-title size="large">{{ message }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Username" 
      labelPlacement="floating"
      [(ngModel)]="username">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" 
      labelPlacement="floating" 
      type="password"
      [(ngModel)]="password">

      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block"
  (click)="validateLogin()">
    Ingresar
  </ion-button>
  <ion-button [routerLink]="['/profile']">Ir a profile</ion-button>
</ion-content>
