<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>SkeletonAPP</h1>
      <h6>Aqui comienza todo</h6> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input label="Username"></ion-input>
    <ion-input label="Password"></ion-input>
  </div>
</ion-content>
