<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>json-placeholder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>JSON Placeholder</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Titulo" [(ngModel)]="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Cuerpo" [(ngModel)]="body"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Usuario ID" type="number" [(ngModel)]="userId"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="createPost()">Create Post</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
