<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border ion-text-center">
    <ion-toolbar>
      <ion-title size="large">Bienvenido!</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>APP desarrolada por CMartinezS</ion-title>
  </ion-toolbar>
</ion-footer>
