<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick And Morty API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Characters</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
        <ion-button (click)="backPage()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-input [(ngModel)]="pageNumber"></ion-input>
        <ion-button (click)="loadCharacters()">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="forwardPage()">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
        </ion-item>
        <ion-item *ngFor="let character of characters">
          <ion-avatar slot="start">
            <img [src]="character.image" />
          </ion-avatar>
          <ion-label>
            <h2>{{ character.name }}</h2>
            <p>{{ character.status }}</p>
            <p>{{ character.species }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
