<ion-header [translucent]="true" 
  class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1 class="margin-bottom-zero">{{mainTitle}}</h1>
      <h6 class="margin-top-zero">{{subTitle}}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Username" [(ngModel)]="username"
        placeholder="Ingrese el nombre del usuario">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" [(ngModel)]="password"
        placeholder="Ingrese la contraseña del usuario">
      </ion-input>
    </ion-item>
    <ion-item>
      {{ username }}<br>
      {{ password }}
    </ion-item>
  </ion-list>
  <ion-button expand="block">Ingresar</ion-button>
</ion-content>
